<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <span class="logo-icon">🪽</span>
                <span class="logo-text">FOR THOSE WHO CHANGES WORLD</span>
            </div>
            <div class="header-right">
                <div class="streak">
                    <span class="flame">🔥</span>
                    <span id="flame_num" class="streak-number">{{count}}</span>
                </div>
                <button class="account-btn">👤</button>
            </div>
        </div>
    </header>

    <nav class="navbar">
        <ul class="nav-list">
           <li>
          <a href="{% url 'home' %}" class="nav-link">HOME</a>
        </li>
        <li>
          <a href="{% url 'goals' %}" class="nav-link">GOALS</a>
        </li>
        <li>
          <a href="{% url 'challenges' %}" class="nav-link active">CHALLENGES</a>
        </li>
        <li>
          <a href="{% url 'healthier' %}" class="nav-link">BE HEALTHIER</a>
        </li>
        <li>
          <a href="{% url 'community' %}" class="nav-link ">COMMUNITY</a>
        </li>
        </ul>
    </nav>


    <main>

        <section class="challenges-section">
            <div class="hero">
                <div class="hero-text">
                    <h1 class="challenges-title">CHALLENGES that makes you stronger</h1>
                    <p>Challange your body and mind</p>
                </div>
            </div>

            <hr class="hr-challange">
            <div class="card-header">
                <div class="card-icons">
                    <span class="icon">💪</span>

                    <span class="icon">💀</span>
                    <span class="icon">💦</span>
                    <span class="icon">🎶</span>

                </div>
                <h3 class="h3-Centered">Choose your challange below</h3>

            </div>


            <div class="challenges-container">


                <div class="challenges">





                    <div class="challenge-card">

                        <div class="flex-challenge">

                            <div>
                                <h3 class="challenge-name">30-Day Push-Ups Challenge</h3>
                                <hr class="hr-default">
                                <p class="challenge-details">Do 30 days challange. Do everyday push-ups to stay fit.
                                    This challenge is designed to help you build upper body strength and endurance.
                                </p>
                            </div>

                            <div>
                                <p class="chalange-card-bonus">Bonus</p>
                                <span class="streak-number">2+</span>
                                <span class="flame">🔥</span>


                            </div>

                            <div>
                                <button class="join-challenge-btn">Join Challenge</button>

                            </div>

                        </div>
                    </div>






                    <div class="challenge-card">

                        <div class="flex-challenge">

                            <div>
                                <h3 class="challenge-name">30-Day Pull-Ups Challenge</h3>
                                <hr class="hr-default">
                                <p class="challenge-details">Do 30 days challange. Do everyday pull-ups to stay fit.
                                    This challenge is designed to help you build back.
                                </p>
                            </div>
                            <div>
                                <p class="chalange-card-bonus">Bonus</p>
                                <span class="streak-number">2+</span>
                                <span class="flame">🔥</span>


                            </div>
                            <div>
                                <button class="join-challenge-btn">Join Challenge</button>

                            </div>

                        </div>
                    </div>





                    <div class="challenge-card">

                        <div class="flex-challenge">

                            <div>
                                <h3 class="challenge-name">30-Day Sit-Ups Challenge</h3>
                                <hr class="hr-default">
                                <p class="challenge-details">Do 30 days challange. Do everyday sit-ups to make your SIX
                                    PACK.
                                    This challenge is designed to help you build body.
                                </p>
                            </div>
                            <div>
                                <p class="chalange-card-bonus">Bonus</p>
                                <span class="streak-number">2+</span>
                                <span class="flame">🔥</span>


                            </div>
                            <div>
                                <button class="join-challenge-btn">Join Challenge</button>

                            </div>

                        </div>
                    </div>


                    <div class="challenge-card">

                        <div class="flex-challenge">

                            <div>
                                <h3 class="challenge-name">30-Day Combined workout Challenge</h3>
                                <hr class="hr-default">
                                <p class="challenge-details">Do 30 days challange. Do everyday combo of exercise.
                                    This challenge is designed to help you build stronger mind and body.
                                </p>
                            </div>
                            <div>
                                <p class="chalange-card-bonus">Bonus</p>
                                <span class="streak-number">2+</span>
                                <span class="flame">🔥</span>


                            </div>
                            <div>
                                <button class="join-challenge-btn">Join Challenge</button>

                            </div>

                        </div>
                    </div>

                    <div class="challenge-card">

                        <div class="flex-challenge">

                            <div>
                                <h3 class="challenge-name">30-Day cold shower Challenge</h3>
                                <hr class="hr-default">
                                <p class="challenge-details">Do 30 days challange. Do everyday cold shower to double
                                    your imunity strength.
                                    This challenge is designed to help you build stronger mind.
                                </p>
                            </div>
                            <div>
                                <p class="chalange-card-bonus">Bonus</p>
                                <span class="streak-number">2+</span>
                                <span class="flame">🔥</span>


                            </div>  
                            <div>
                                <button class="join-challenge-btn">Join Challenge</button>

                            </div>

                        </div>
                    </div>




                </div>


        </section>

    </main>

{% load static %}
    <script type="module" src="{% static 'JavaScript/flames-script.js' %}"></script>
</body>
 <footer class="footer">
        <p>&copy; 2025 For Those Who Changes World. All rights reserved.</p>
    </footer>
</html>