<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}" />

    <title>Reqister</title>
  </head>

  <body>
    <form action="{% url 'registerCheck' %}" method="post">
      {% csrf_token %}
      <div>
        <div class="hero">
          <h1>Register</h1>
          <p>Create your Account</p>
        </div>

        <div class="box">
          <div>
            <div class="login-card">
              <label for="username">👤</label>
              <input class="textInput" type="email" name="username" placeholder="Mail like(jmeno@seznam.cz)"  id="username" required />
            </div>

            <div class="login-card">
              <label for="password">🔒</label>
              <input type="password" name="password"  placeholder="Password" id="password" required /><br />
            </div>
          </div>
        </div>

        <div class="btn-box">
          <button class="login-btn" type="submit">Register</button>
        </div>
      </div>
    </form>

    {% if error %}
      <script>
        alert('{{ error|escapejs }}')
      </script>
    {% endif %}
  </body>
</html>
