<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}" />

    <title>Reqister</title>
  </head>

  <body>
    <form action="{% url 'registerCheck' %}" method="post">
      {% csrf_token %}
      <div>
        <h1>Register</h1>

        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
        </div>

        <div>
          <label for="password">Password:</label><br />
          <input type="password" name="password" id="password" required /><br />
        </div>

        <div>
          <button type="submit">Register</button>
        </div>
      </div>
    </form>
  </body>
</html>
